<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    .colortext {
    background: #D9FFAD;
    color: red;
    padding: 1px;
    display: inline;
    }
    .colortext1 {
    background: #D9FFAD;
    color: green;
    padding: 1px;
    display: inline;
    }
    </style>
</head>
<body>
    <h1>Order {{order.order_id}}</h1>
    <h2>{{order.name}}</h2>
    <p>Pizza composition: {{order.pizza_description}} </p>
    <p>Additional ingredients: {{order.description}} </p>
    <p>Price: {{order.price}} ₴ </p>
        {% if order.status == "BAKED" %}
        <p><a>Status: <span class="colortext"> {{order.status}} </span> </a></p>
        {% else %}
        <p><a>Status: <span class="colortext1"> {{order.status}} </span> </a></p>
        {% endif %}
    <p><input type=button value=EXIT onClick='location.href="/show_orders"'></p>
</body>
</html>
